<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Luke Swiderski</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'personalSite/main.css' %}" />
    </head>
    <body>  
            <div class="grid-container">
              <div class="grid-item">
                <h1 class="deets">Luke Swiderski</h1>
                <p class='accent deets'>
                  Software Developer<br>
                  Summerfield, FL</p>
                 <p class = deets>I am a software developer 
                   working on open-source projects, <br>
                   such as Mozilla Firefox and Google Chrome.
                </p>
              </div>
              <div class="grid-item">
                <img src="{% static 'personalSite/LukeAtHome.jpg' %}" alt="Luke Swiderski" class="image">
              </div>
              <div class="grid-item">
                <h2 >Open Source Contributions:</h2>
              </div>  
              <div class="grid-item">
              </div>
              <div class="grid-item">
                <p class="issue"><strong>Bug: Debug Line Overlaps Preview</strong></p>
                <p class="issue">Patch: Fixes Overlap Issue</p>
                <a class="issue" href="https://phabricator.services.mozilla.com/D69397">Merged Code</a>
              </div>
              <div class="grid-item">
                <img src="{% static 'personalSite/inlinePreview.png' %}" alt="debug line" class="screen-cap">
              </div>  
              <div class="grid-item">
                <p class="issue"><strong>Bug: Content Out Of Seperator Line</strong></p>
                <p class="issue">Patch: Fixes Overlapping Content</p>
                <a class="issue" href="https://chromium-review.googlesource.com/c/devtools/devtools-frontend/+/2491926">Merged Code</a>
              </div>
              <div class="grid-item">
                <img src="{% static 'personalSite/chromeSettings.png' %}" alt="chrome settings" class="screen-cap">
              </div>  
              <div class="grid-item"></div>
              <div class="grid-item"></div>
            </div>
            <footer><span>Luke Swiderski 2021</span></footer>
    </body>
</html>